body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    background-color: #4c7caf;
    padding: 5px;
    color: white;
    text-align: center;
}

.commodity-selection,
.commodity-details {
    float: left;
    width: 150px;
    padding: 20px;
    padding-top: 5px;
    background-color: #f1f1f1;
    height: 100%;
}

.commodity-selection a,
.commodity-details a {
    display: inline-block;
    padding: 10px 20px;
    width: 75%;
    background-color: #4c7caf;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.commodity-selection a:hover,
.commodity-details a:hover {
    background-color: #325a80;
}

.commodity-selection a.selected {
    background-color: #325a80;
}

.commodity-info {
    display: flex;
}



.chart-and-stats {
    display: flex;
    flex: 2;
}

#myChart {
    height: 600px;
    width: 80%; /* Adjust the width as needed */
}

.commodity-stats {
    padding: 13px;
    background-color: #f1f1f1;
    width: 25%; /* Adjust the width as needed */
    right: 0;
    height: 85%;
}

.commodity-selection ul,
.commodity-details ul {
    list-style: none;
    padding: 0;
}

.commodity-selection li,
.commodity-details li {
    margin-bottom: 10px;
}
