<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Commodity Page</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>

  <link rel="stylesheet" href="styles.css" />
</head>

<body>
<section th:replace="~{fragments :: sidebar}">
</section>

<section class="content">
  <nav th:replace="~{fragments :: nav}"></nav>

  <main>
<h1>PANEL ADMINA</h1>

  </main>
</section>

<script src="app.js"></script>
</body>
</html>
