<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Commodity Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/stock.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <link rel="stylesheet" href="styles.css" />
</head>

<body>
<section class="sidebar">
    <a href="/" class="logo">
        <span class="text">CommodityViewer</span>
    </a>

    <ul class="side-menu top">
        <li><a th:href="@{'/' + 'correlations'}"><span>Korelacje surowców</span></a></li>

        <div class="commodities-label">
            <span>Surowce</span>
        </div>
        <li th:each="commodity : ${commodityTypes}" th:class="${#strings.equals(selectedCommodity, commodity)} ? 'active' : ''">
            <a th:href="@{'/' + ${commodity}}" class="nav-link">
                <span th:text="${commodity == 'MIEDZ' ? 'Miedź' :
                    (commodity == 'ROPA' ? 'Ropa' :
                        (commodity == 'SREBRO' ? 'Srebro' :
                            (commodity == 'PLATYNA' ? 'Platyna' :
                                (commodity == 'NIKIEL' ? 'Nikiel' :
                                    (commodity == 'CUKIER' ? 'Cukier' :
                                        (commodity == 'SOJA' ? 'Soja' :
                                            (commodity == 'PALLAD' ? 'Pallad' :
                                                (commodity == 'RZEPAK' ? 'Rzepak' :
                                                    (commodity == 'KAWA' ? 'Kawa' :
                                                        (commodity == 'PSZENICA' ? 'Pszenica' :
                                                            (commodity == 'ZLOTO' ? 'Złoto' :
                                                                (commodity == 'ALUMINIUM' ? 'Aluminium' :
                                                                    (commodity == 'KUKURYDZA' ? 'Kukurydza' :
                                                                        commodity)))))))))))))}"></span>
            </a>

        </li>
    </ul>

</section>

<section class="content">
    <nav>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="search..." />
                <button class="search-btn">
                    <i class="fas fa-search search-icon"></i>
                </button>
            </div>
        </form>

        <input type="checkbox" hidden id="switch-mode" />
        <label for="switch-mode" class="switch-mode"></label>



        <ul id="profileOptions" class="profile-options">
            <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()">Zaloguj się</a></li>
            <li><a class="logout" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a></li>
        </ul>
    </nav>

    <main>
        <form id="correlationForm" class="correlation-form" action="/correlations" method="post" onsubmit="return validateForm()">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="corr-box">
                <label for="commodity1" class="form-label">Wybierz pierwszy surowiec</label>
                <select id="commodity1" name="commodity1" class="form-select" onchange="updateDropdown2()">
                    <option th:each="commodity : ${commodityTypes}" th:value="${commodity}" th:text="${commodity == 'MIEDZ' ? 'Miedź' :
                    (commodity == 'ROPA' ? 'Ropa' :
                        (commodity == 'SREBRO' ? 'Srebro' :
                            (commodity == 'PLATYNA' ? 'Platyna' :
                                (commodity == 'NIKIEL' ? 'Nikiel' :
                                    (commodity == 'CUKIER' ? 'Cukier' :
                                        (commodity == 'SOJA' ? 'Soja' :
                                            (commodity == 'PALLAD' ? 'Pallad' :
                                                (commodity == 'RZEPAK' ? 'Rzepak' :
                                                    (commodity == 'KAWA' ? 'Kawa' :
                                                        (commodity == 'PSZENICA' ? 'Pszenica' :
                                                            (commodity == 'ZLOTO' ? 'Złoto' :
                                                                (commodity == 'ALUMINIUM' ? 'Aluminium' :
                                                                    (commodity == 'KUKURYDZA' ? 'Kukurydza' :
                                                                        commodity)))))))))))))}"></option>
                </select>
            </div>
            <div class="corr-box">
                <label for="commodity2" class="form-label">Wybierz drugi surowiec</label>
                <select id="commodity2" name="commodity2" class="form-select">
                    <option th:each="commodity : ${commodityTypes}" th:value="${commodity}" th:text="${commodity == 'MIEDZ' ? 'Miedź' :
                    (commodity == 'ROPA' ? 'Ropa' :
                        (commodity == 'SREBRO' ? 'Srebro' :
                            (commodity == 'PLATYNA' ? 'Platyna' :
                                (commodity == 'NIKIEL' ? 'Nikiel' :
                                    (commodity == 'CUKIER' ? 'Cukier' :
                                        (commodity == 'SOJA' ? 'Soja' :
                                            (commodity == 'PALLAD' ? 'Pallad' :
                                                (commodity == 'RZEPAK' ? 'Rzepak' :
                                                    (commodity == 'KAWA' ? 'Kawa' :
                                                        (commodity == 'PSZENICA' ? 'Pszenica' :
                                                            (commodity == 'ZLOTO' ? 'Złoto' :
                                                                (commodity == 'ALUMINIUM' ? 'Aluminium' :
                                                                    (commodity == 'KUKURYDZA' ? 'Kukurydza' :
                                                                        commodity)))))))))))))}" th:selected="${commodity == 'ZLOTO'}"></option>
                </select>
            </div>
            <button type="submit" class="form-button">Korelacja</button>
        </form>

        <h2 th:if="${not #strings.isEmpty(commodity1) and not #strings.isEmpty(commodity2)}">
            Wybrane surowce: <span class="commodity1">[[${commodity1.name}]]</span><span> i </span><span class="commodity2">[[${commodity2.name}]]</span>
        </h2>

        <div th:if="${not #strings.isEmpty(commodity1) and not #strings.isEmpty(commodity2)}">
            <h2>Współczynniki korelacji:</h2>
            <p><strong>Pearson's correlation:</strong> <span th:text="${pearsonCorrelation}"></span></p>
            <p>
                Współczynnik korelacji Pearsona mierzy siłę i kierunek liniowej zależności pomiędzy dwiema zmiennymi.
                Wartość bliska 1 oznacza silną dodatnią korelację, wartość bliska -1 oznacza silną ujemną korelację,
                a wartość bliska 0 oznacza brak liniowej zależności.
            </p>

            <p><strong>Spearman's correlation:</strong> <span th:text="${spearmanCorrelation}"></span></p>
            <p>
                Współczynnik korelacji Spearmana ocenia stopień monotonicznej zależności między dwiema zmiennymi,
                niekoniecznie liniowej. Podobnie jak Pearson, wartość bliska 1 oznacza silną dodatnią zależność,
                wartość bliska -1 oznacza silną ujemną zależność, a wartość bliska 0 oznacza brak monotonicznej zależności.
            </p>
        </div>
        <div th:if="${not #strings.isEmpty(commodity1) and not #strings.isEmpty(commodity2)}">
            <button class="form-button" id="toggleLogScale" onclick="toggleLogScale()">Skala logarytmiczna</button>
        </div>
        <div id="myChart"></div>
    </main>

</section>
<script th:inline="javascript">
    function toggleLogScale() {
        chart.yAxis[0].update({
            type: chart.yAxis[0].options.type === 'logarithmic' ? 'linear' : 'logarithmic'
        });
    }
    function validateForm() {
        let commodity1 = document.getElementById("commodity1").value;
        let commodity2 = document.getElementById("commodity2").value;

        if (commodity1 === commodity2) {
            alert("Proszę wybrać różne surowce.");
            return false; // Uniemożliwia wysłanie formularza
        }

        return true; // Pozwala wysłać formularz
    }

    let rawDates = [[${dates}]];
    let values = [[${values}]];
    let rawDates2 = [[${dates2}]];
    let values2 = [[${values2}]];
    let seriesData = [];
    let commodity1Name = [[${commodity1?.name ?: 'Brak nazwy'}]];
    let commodity2Name = [[${commodity2?.name ?: 'Brak nazwy'}]];
    for (let i = 0; i < rawDates.length; i++) {
        seriesData.push([new Date(rawDates[i]).getTime(), values[i]]);
    }

    let seriesData2 = [];
    for (let i = 0; i < rawDates2.length; i++) {
        seriesData2.push([new Date(rawDates2[i]).getTime(), values2[i]]);
    }


    let chartOptions = {
        chart: {
            type: 'line',
            zoomType: 'x', // Zaznaczanie i zoomowanie po osi X
        },
        title: {
            text: '',
        },
        xAxis: {
            type: 'datetime',
            labels: {
                formatter: function () {
                    return Highcharts.dateFormat('%e %b %Y', this.value); // Format daty na polski
                }
            },
        },
        yAxis: {
            title: {
                text: 'Cena',
            },
            labels: {
                formatter: function () {
                    return this.value.toString().replace('.', ','); // Zamień kropkę na przecinek
                }
            },
        },
        tooltip: {
            valueDecimals: 2,
            decimalPoint: ","
        },
        series: [{
            name: commodity1Name,
            data: seriesData,
        }, {
            name: commodity2Name,
            data: seriesData2,
        }],
        rangeSelector: {
            selected: 6
        },
        exporting: {
            buttons: {
                contextButton: {
                    menuItems: [
                        'downloadPNG',
                        'downloadJPEG',
                        'downloadPDF',
                        'downloadSVG',
                        'separator',
                        'downloadCSV',
                        'downloadXLS'
                    ]
                }
            }
        },
        legend: {
            enabled: true, // Włącz legendę
        },
        plotOptions: {
            series: {
                connectNulls: true, // Połącz null wartości w serii danych
            }
        },
    };
    Highcharts.setOptions({
        lang: {
            months: [
                'Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec',
                'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'
            ],
            shortMonths: [
                'Sty', 'Lut', 'Mar', 'Kwi', 'Maj', 'Cze',
                'Lip', 'Sie', 'Wrz', 'Paź', 'Lis', 'Gru'
            ],
            weekdays: [
                'Niedziela', 'Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek', 'Sobota'
            ],
            shortWeekdays: [
                'Nd', 'Pn', 'Wt', 'Śr', 'Czw', 'Pt', 'Sob'
            ],
            legend: {
                navigation: {
                    enabled: true,
                },
                title: {
                    text: 'Legenda'
                }
            }
        }
    });
    let chart = Highcharts.stockChart('myChart', chartOptions);
</script>

<script src="app.js"></script>
</body>
</html>
