<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Strona Surowców</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>

<section class="sidebar">
    <a href="/" class="logo">
        <span class="text">CommodityViewer</span>
    </a>

    <ul class="side-menu top">
        <li th:each="commodity : ${commodityTypes}"
            th:class="${#strings.equals(selectedCommodity, commodity)} ? 'active' : ''">
            <a th:href="@{'/' + ${commodity}}" class="nav-link">
                <span th:text="${commodity == 'COPPER' ? 'Miedź' : (commodity == 'NATURAL_GAS' ? 'Gaz Ziemny' : (commodity == 'WHEAT' ? 'Zboże' : (commodity == 'BRENT' ? 'Ropa' : (commodity == 'ALUMINUM' ? 'Aluminium' : commodity))))}"></span>
            </a>
        </li>
    </ul>



    <ul class="side-menu">
        <li>
            <a href="#">
                <span class="text">Ustawienia</span>
            </a>
        </li>
        <li>
            <a href="#" class="logout">
                <span class="text">Wyloguj</span>
            </a>
        </li>
    </ul>
</section>
<section class="content">
    <nav>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="szukaj..."/>
                <button class="search-btn">
                </button>
            </div>
        </form>

        <input type="checkbox" hidden id="switch-mode"/>
        <label for="switch-mode" class="switch-mode"></label>

        <a href="#" class="profile">
            <img src="/profile.png" alt=""/>
        </a>
    </nav>
    <main>
        <div class="top-main">
            <h1>Panel</h1>
            <a href="#" class="download-btn">
                <span class="text">Pobierz raport</span>
            </a>
        </div>

        <div class="commodity-details">
            <a th:href="@{'/' + ${selectedCommodity.commodityType} + '/testadf'}" class="btn">Test ADF</a>
            <a th:href="@{'/' + ${selectedCommodity.commodityType} + '/forecasts'}" class="btn">Prognozy</a>
            <h3 th:text="${selectedCommodity.name}">Nazwa Surowca</h3>
            <p th:text="${'Typ Surowca: ' +
    (selectedCommodity.commodityType == 'COPPER' ? 'Miedź' :
    (selectedCommodity.commodityType == 'NATURAL_GAS' ? 'Gaz Ziemny' :
    (selectedCommodity.commodityType == 'WHEAT' ? 'Zboże' :
    (selectedCommodity.commodityType == 'BRENT' ? 'Ropa' :
    (selectedCommodity.commodityType == 'ALUMINIUM' ? 'Aluminium' :
    selectedCommodity.commodityType)))))}"></p>

            <p th:text="${'Interwał: miesięczny'}"></p>

            <p th:text="${'Jednostka: ' +
    (selectedCommodity.unit == 'dollar per metric ton' ? 'dolar za tonę metryczną' :
    (selectedCommodity.unit == 'dollars per million BTU' ? 'dolary za milion jednostek cieplnych' :
    (selectedCommodity.unit == 'dollars per barrel' ? 'dolary za 1 baryłkę' :
    selectedCommodity.unit)))}"></p>
        </div>
        <div class="chart-and-stats">
            <div id="myChart"></div>
            <div class="commodity-stats">
                <div>
                    <label for="chartType">Wybierz typ wykresu:</label>
                    <select id="chartType" onchange="updateChartType()">
                        <option value="line">Liniowy</option>
                        <option value="bar">Słupkowy</option>
                    </select>
                </div>
                <h4>Statystyki Surowca:</h4>
                <p>Minimum: <span id="minValue"></span> <span id="minDate"></span></p>
                <p>Maksimum: <span id="maxValue"></span> <span id="maxDate"></span></p>
                <p>Średnia: <span id="avgValue"></span></p>
                <p>Data początkowa: <span id="startDate"></span></p>
                <p>Data końcowa: <span id="endDate"></span></p>
            </div>
        </div>
    </main>
</section>

<script th:inline="javascript">

    let dates = [[${dates}]];
    let values = [[${values}]];
    var reversedDates = dates.slice().reverse();
    var reversedValues = values.slice().reverse();
    Highcharts.setOptions({
        lang: {
            decimalPoint: ','
        }
    });

    // Konfiguracja wykresu Highcharts
    Highcharts.chart('myChart', {
        chart: {
            type: 'line',
            zoomType: 'x'
        },
        title: {
            text: '' // Ustaw pusty string jako tytuł
        },
        xAxis: {
            categories: reversedDates,
            title: {
                text: 'Data'
            },
            labels: {
                step: Math.ceil(reversedDates.length / 10) // Krok etykiet osi X
            }
        },
        yAxis: {
            title: {
                text: 'Cena surowca'
            },
            labels: {
                format: '{value:,.2f}',
                decimalPoint: ','// Formatowanie etykiet osi Y
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br>',
            pointFormat: 'Cena surowca: {point.y:,.2f}',
            valueDecimals: 2,
            decimalPoint: ','
        },
        plotOptions: {
            line: {
                marker: {
                    enabled: false // Wyłączenie punktów na wykresie
                }
            }
        },
        series: [{
            name: 'Cena surowca',
            data: reversedValues
        }],
        boost: {
            useGPUTranslations: true
        },
        exporting: {
            enabled: true
        },
        legend: {
            enabled: false // Wyłączenie legendy
        },
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });


    let minValue = Math.min(...reversedValues);
    let minIndex = reversedValues.indexOf(minValue);
    let minDate = reversedDates[minIndex];

    let maxValue = Math.max(...reversedValues);
    let maxIndex = reversedValues.indexOf(maxValue);
    let maxDate = reversedDates[maxIndex];

    document.getElementById('minValue').innerText = minValue.toFixed(2).replace('.', ',');
    document.getElementById('minDate').innerText = `(${minDate.replace('.', ',')})`;

    document.getElementById('maxValue').innerText = maxValue.toFixed(2).replace('.', ',');
    document.getElementById('maxDate').innerText = `(${maxDate.replace('.', ',')})`;

    document.getElementById('avgValue').innerText = (values.reduce((a, b) => a + b, 0) / values.length).toFixed(2).replace('.', ',');
    document.getElementById('startDate').innerText = dates[0].replace('.', ',');
    document.getElementById('endDate').innerText = dates[dates.length - 1].replace('.', ',');

</script>
<script src="/app.js"></script>

</body>

</html>
