<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commodity Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<!-- Wybór surowca -->
<div>
    <h3>Wybierz surowiec:</h3>
    <ul>
        <li th:each="type : ${commodityTypes}">
            <a th:href="@{'/' + ${type}}" th:class="${type == selectedCommodity.commodityType} ? 'selected' : ''" th:text="${type}"></a>
        </li>
    </ul>
</div>

<!-- Wyświetlenie danych surowca -->
<div>
    <h3 th:text="${selectedCommodity.name}">Nazwa surowca</h3>
    <p th:text="${'Typ surowca: ' + selectedCommodity.commodityType}"></p>
    <p th:text="${'Interwał: ' + selectedCommodity.interval_column}"></p>
    <p th:text="${'Jednostka: ' + selectedCommodity.unit}"></p>

    <h4>Dane z data_point:</h4>
    <!-- Dodaj linki do zakładek -->
    <ul>
        <li><a th:href="@{'/' + ${selectedCommodity.commodityType}}">Czyste dane</a></li>
        <li><a th:href="@{'/' + ${selectedCommodity.commodityType} + '/testadf'}">Test ADF</a></li>
        <li><a th:href="@{'/' + ${selectedCommodity.commodityType} + '/forecasts'}">Forecasts</a></li>
    </ul>

    <!-- Tutaj możesz umieścić treść dla zakładek -->

    <div th:if="${selectedCommodity.data}">
        <canvas id="myChart"></canvas>

        <table class="table">
            <thead>
            <tr>
                <th>Data</th>
                <th>Wartość</th>
                <!-- Dodaj inne nagłówki, jeśli są dostępne -->
            </tr>
            </thead>
            <tbody>
            <!-- Iteruj przez dane z data_point i wyświetl wiersze tabeli -->
            <tr th:each="dataPoint, iterStat : ${selectedCommodity.data}">
                <td th:text="${dataPoint.date}"></td>
                <td th:text="${dataPoint.value_column}"></td>
                <!-- Dodaj inne komórki, jeśli są dostępne -->
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${selectedCommodity.data}">
        <p>Brak danych z data_point dla tego surowca.</p>
    </div>

</div>
<script th:inline="javascript">
    var dates = [[${dates}]];
    var values = [[${values}]];
    var reversedDates = dates.reverse();
    var reversedValues = values.reverse();
    var ctx = document.getElementById('myChart').getContext('2d');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: reversedDates,
            datasets: [{
                label: 'Cena surowca',
                data: reversedValues,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


</body>
</html>
