<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commodity Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>

<!-- Wybór surowca -->
<div>
    <h3>Wybierz surowiec:</h3>
    <ul>
        <li th:each="type : ${commodityTypes}">
            <a th:href="@{'/' + ${type}}" th:class="${type == commodityTypes} ? 'selected' : ''" th:text="${type}"></a>
        </li>
    </ul>
</div>

<!-- Wyświetlenie danych surowca -->
<div>
    <h3 th:text="${selectedCommodity.name}">Nazwa surowca</h3>
    <p th:text="${'Typ surowca: ' + selectedCommodity.commodityType}"></p>
    <p th:text="${'Interwał: ' + selectedCommodity.interval_column}"></p>
    <p th:text="${'Jednostka: ' + selectedCommodity.unit}"></p>

    <ul>
        <li><a th:href="@{'/' + ${selectedCommodity.commodityType}+ '/data'}">Czyste dane</a></li>
        <li><a th:href="@{'/' + ${selectedCommodity.commodityType} + '/testadf'}">Test ADF</a></li>
        <li><a th:href="@{'/' + ${selectedCommodity.commodityType} + '/forecasts'}">Forecasts</a></li>
    </ul>
</div>
<h2>Forecasts Page</h2>

<div th:if="${selectedCommodity != null}">
    <p>Selected Commodity: <span th:text="${selectedCommodity.name}"></span></p>
</div>

<!-- forecasts.html -->
<!-- forecasts.html -->
<div th:if="${forecasts != null}">
    <h3>Forecasts:</h3>
    <ul>
        <li th:each="forecast : ${forecasts}">
            <p th:text="${#temporals.format(forecast.forecastDate, 'yyyy-MM-dd')}"></p>
            <p th:text="${forecast.forecastValue}"></p>
        </li>
    </ul>
</div>


</body>
</html>
