<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Commodity Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>

<body>

<section class="sidebar">
    <a href="#" class="logo">
        <span class="text">CommodityViewer</span>
    </a>

    <ul class="side-menu top">
        <li th:each="commodity : ${commodityTypes}"
            th:class="${#strings.equals(selectedCommodity, commodity)} ? 'active' : ''">
            <a th:href="@{'/' + ${commodity}}" class="nav-link">
                <span th:text="${commodity == 'COPPER' ? 'Miedź' : (commodity == 'NATURAL_GAS' ? 'Gaz Ziemny' : (commodity == 'WHEAT' ? 'Zboże' : (commodity == 'BRENT' ? 'Ropa' : (commodity == 'ALUMINUM' ? 'Aluminium' : commodity))))}"></span>
            </a>
        </li>
    </ul>


    <ul class="side-menu">
        <li>
            <a href="#">
                <span class="text">Ustawienia</span>
            </a>
        </li>
        <li>
            <a href="#" class="logout">
                <span class="text">Wyloguj</span>
            </a>
        </li>
    </ul>
</section>
<section class="content">
    <nav>

        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="search..." />
                <button class="search-btn">
                </button>
            </div>
        </form>

        <input type="checkbox" hidden id="switch-mode" />
        <label for="switch-mode" class="switch-mode"></label>


        <a href="#" class="profile">
            <img src="/profile.png" alt=""/>
        </a>
    </nav>
    <main>
        <div class="top-main">
            <h1>Panel</h1>
            <a href="#" class="download-btn">
                <span class="text">Pobierz raport</span>
            </a>
        </div>

        <div class="commodity-details">
            <a th:href="@{'/' + ${selectedCommodity.commodityType}}" class="btn">Dane</a>
            <a th:href="@{'/' + ${selectedCommodity.commodityType} + '/testadf'}" class="btn">Test ADF</a>
            <h3 th:text="${selectedCommodity.name}">Nazwa surowca</h3>
            <p th:text="${'Typ Surowca: ' +
    (selectedCommodity.commodityType == 'COPPER' ? 'Miedź' :
    (selectedCommodity.commodityType == 'NATURAL_GAS' ? 'Gaz Ziemny' :
    (selectedCommodity.commodityType == 'WHEAT' ? 'Zboże' :
    (selectedCommodity.commodityType == 'BRENT' ? 'Ropa' :
    (selectedCommodity.commodityType == 'ALUMINIUM' ? 'Aluminium' :
    selectedCommodity.commodityType)))))}"></p>

            <p th:text="${'Interwał: miesięczny'}"></p>

            <p th:text="${'Jednostka: ' +
    (selectedCommodity.unit == 'dollar per metric ton' ? 'dolar za tonę metryczną' :
    (selectedCommodity.unit == 'dollars per million BTU' ? 'dolary za milion jednostek cieplnych' :
    (selectedCommodity.unit == 'dollars per barrel' ? 'dolary za 1 baryłkę' :
    selectedCommodity.unit)))}"></p>

        </div>
        <div class="holt-description">
            <p>
                Model prognozowania: Holt-Winters Forecast. Jest to zaawansowany model szeregów czasowych, wykorzystywany
                do prognozowania przyszłych cen surowców na podstawie ich historycznych danych. Model ten integruje trzy
                składowe: poziom (level), trend i sezonowość.
                Składowa poziomu odzwierciedla średnią wartość surowca, trend prognozuje kierunek i nachylenie zmian cen,
                natomiast składowa sezonowości uwzględnia cykliczne wzorce, które mogą występować w określonych okresach czasu,
                na przykład sezonowość roczna lub kwartalna
            </p>
        </div>

        <div id="myChart"></div>
        <th:block th:if="${#lists.size(forecasts) > 0}">

            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Forecast Value</th>
                    <!-- Dodaj inne nagłówki, jeśli są dostępne -->
                </tr>
                </thead>
                <tbody>
                <!-- Iteruj przez przewidywania i wyświetl wiersze tabeli -->
                <tr th:each="forecast : ${forecasts}">
                    <td th:text="${forecast.forecastDate}"></td>
                    <td th:text="${forecast.forecastValue}"></td>
                    <!-- Dodaj inne komórki, jeśli są dostępne -->
                </tr>
                </tbody>
            </table>
        </th:block>


    </main>

</section>

<script th:inline="javascript">
    let forecastDates = [[${forecastDates}]];
    let forecastValues = [[${forecastValues}]];
    let reversedForecastDates = forecastDates.reverse();
    let reversedForecastValues = forecastValues.reverse();
    let dates = [[${dates}]];
    let values = [[${values}]];
    var reversedDates = dates.slice().reverse();
    var reversedValues = values.slice().reverse();
    let combinedDates = reversedDates.concat(reversedForecastDates);
    let combinedValues = reversedValues.concat(reversedForecastValues);
    // Połącz daty i wartości dla prognoz w jedną tablicę
    let reversedForecastData = forecastDates.map((date, index) => [date, forecastValues[index]]).reverse();

    // Połącz daty i wartości historyczne w jedną tablicę
    let reversedHistoricalData = dates.map((date, index) => [date, values[index]]).reverse();

    Highcharts.setOptions({
        lang: {
            decimalPoint: ','
        }
    });

    // Konfiguracja wykresu Highcharts
    Highcharts.chart('myChart', {
        chart: {
            type: 'line',
            zoomType: 'x'
        },
        title: {
            text: '' // Ustaw pusty string jako tytuł
        },
        xAxis: {
            categories: combinedDates,
            title: {
                text: 'Data'
            },
            labels: {
                step: Math.ceil(combinedDates.length / 10) // Krok etykiet osi X
            }
        },
        yAxis: {
            title: {
                text: 'Cena surowca'
            },
            labels: {
                format: '{value:,.2f}',
                decimalPoint: ',' // Formatowanie etykiet osi Y
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br>',
            pointFormat: 'Cena surowca: {point.y:,.2f}',
            valueDecimals: 2,
            decimalPoint: ','
        },
        plotOptions: {
            line: {
                marker: {
                    enabled: false // Wyłączenie punktów na wykresie
                }
            }
        },
        series: [

            {
                name: 'Holt-Winters',
                data: combinedValues,
                color: 'red' // Kolor dla danych prognozowanych
            },
            {
                name: 'Cena surowca',
                data: reversedValues
            }
        ],
        boost: {
            useGPUTranslations: true
        },
        exporting: {
            enabled: true
        },
        legend: {
            enabled: true // Włącz legendę
        },
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });
</script>
<script th:inline="javascript" src="/app.js"></script>
</body>

</html>
