<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Commodity Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
</head>

<body>

<section class="sidebar">
    <a href="#" class="logo">
        <span class="text">CommodityViewer</span>
    </a>

    <ul class="side-menu top">
        <li th:each="commodity : ${commodityTypes}" th:class="${#strings.equals(selectedCommodity, commodity)} ? 'active' : ''">
            <a th:href="@{'/' + ${commodity}}" class="nav-link">
                <span th:text="${commodity}"></span>
            </a>
        </li>
    </ul>


    <ul class="side-menu">
        <li>
            <a href="#">
                <span class="text">Settings</span>
            </a>
        </li>
        <li>
            <a href="#" class="logout">
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<section class="content">
    <nav>

        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="search..." />
                <button class="search-btn">
                </button>
            </div>
        </form>

        <input type="checkbox" hidden id="switch-mode" />
        <label for="switch-mode" class="switch-mode"></label>


        <a href="#" class="profile">
            <img src="/profile.png" alt=""/>
        </a>
    </nav>
    <main>
        <div class="top-main">
            <h1>Dashboard</h1>
            <a href="#" class="download-btn">
                <span class="text">Pobierz raport</span>
            </a>
        </div>

        <div class="commodity-details">
            <a th:href="@{'/' + ${selectedCommodity.commodityType}}" class="btn">Data</a>
            <a th:href="@{'/' + ${selectedCommodity.commodityType} + '/testadf'}" class="btn">Test ADF</a>
            <h3 th:text="${selectedCommodity.name}">Nazwa surowca</h3>
            <p th:text="${'Typ surowca: ' + selectedCommodity.commodityType}"></p>
            <p th:text="${'Interwał: ' + selectedCommodity.interval_column}"></p>
            <p th:text="${'Jednostka: ' + selectedCommodity.unit}"></p>

        </div>
        <div class="holt-description">
            <p>
                Model prognozowania: Holt-Winters Forecast. Jest to zaawansowany model szeregów czasowych, wykorzystywany
                do prognozowania przyszłych cen surowców na podstawie ich historycznych danych. Model ten integruje trzy
                składowe: poziom (level), trend i sezonowość.
                Składowa poziomu odzwierciedla średnią wartość surowca, trend prognozuje kierunek i nachylenie zmian cen,
                natomiast składowa sezonowości uwzględnia cykliczne wzorce, które mogą występować w określonych okresach czasu,
                na przykład sezonowość roczna lub kwartalna
            </p>
        </div>

        <div id="myChart"></div>
        <th:block th:if="${#lists.size(forecasts) > 0}">
            <h2>Forecasts for <span th:text="${selectedCommodity.name}"></span></h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Forecast Value</th>
                    <!-- Dodaj inne nagłówki, jeśli są dostępne -->
                </tr>
                </thead>
                <tbody>
                <!-- Iteruj przez przewidywania i wyświetl wiersze tabeli -->
                <tr th:each="forecast : ${forecasts}">
                    <td th:text="${forecast.forecastDate}"></td>
                    <td th:text="${forecast.forecastValue}"></td>
                    <!-- Dodaj inne komórki, jeśli są dostępne -->
                </tr>
                </tbody>
            </table>
        </th:block>


    </main>

</section>

<script th:inline="javascript">

    let dates = [[${dates}]];
    let values = [[${values}]];
    let forecastDates = [[${forecastDates}]];  // Dodaj zmienną z datami prognoz
    let forecastValues = [[${forecastValues}]];
    let reversedForecastDates = forecastDates.reverse();
    let reversedForecastValues = forecastValues.reverse();
    let reversedDates = dates.reverse();
    let reversedValues = values.reverse();

    let chartType = 'line'; // Domyślny typ wykresu

    let trace = {
        x: reversedDates,
        y: reversedValues,
        type: chartType,
        name: 'Cena surowca'
    };


    // Dodaj pierwszy punkt prognozy do danych historycznych
    reversedDates.push(reversedForecastDates[reversedForecastDates.length - 1]);
    reversedValues.push(reversedForecastValues[reversedForecastValues.length - 1]);



    let traceForecast = {
        x: reversedForecastDates,
        y: reversedForecastValues,
        type: chartType,
        mode: 'lines',  // Dodaj mode do połączenia linii z punktami
        name: 'Holt-Winters Forecast',
        line: { color: 'red' }  // Dodaj kolor
    };
    let layout = {
        margin: { t: 0 },
        xaxis: {
            rangeslider: { visible: false },
            type: 'date'
        },
        yaxis: {
            autorange: true,
            type: 'linear'
        },
        legend: { orientation: 'h', y: -0.25 } // Dodaj legendę
    };

    Plotly.newPlot('myChart', [trace, traceForecast], layout,{responsive: true});

</script>
<script th:inline="javascript" src="/app.js"></script>
</body>

</html>
