<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Strona Surowców</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<section th:fragment="sidebar" class="sidebar">
    <a href="/" class="logo">
        <span class="text">CommodityViewer</span>
    </a>

    <ul class="side-menu top">
        <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{'/' + 'correlations'}"  class="acces-commodity-correlations">Korelacje surowców</a>
        <a th:if="${!#authorization.expression('isAuthenticated()')}" th:href="@{'/' + 'correlations'}" class="no-acces-commodity-correlations">Korelacje surowców</a>

        <div class="commodities-label">
            <span>Surowce</span>
        </div>
        <li th:each="commodity : ${commodityTypes}"
            th:class="${#strings.equals(selectedCommodity, commodity)} ? 'active' : ''">
            <a th:href="@{'/' + ${commodity}}" class="nav-link">
                <span th:text="${commodity == 'MIEDZ' ? 'Miedź' :
                    (commodity == 'ROPA' ? 'Ropa' :
                        (commodity == 'SREBRO' ? 'Srebro' :
                            (commodity == 'PLATYNA' ? 'Platyna' :
                                (commodity == 'NIKIEL' ? 'Nikiel' :
                                    (commodity == 'CUKIER' ? 'Cukier' :
                                        (commodity == 'SOJA' ? 'Soja' :
                                            (commodity == 'PALLAD' ? 'Pallad' :
                                                (commodity == 'RZEPAK' ? 'Rzepak' :
                                                    (commodity == 'KAWA' ? 'Kawa' :
                                                        (commodity == 'PSZENICA' ? 'Pszenica' :
                                                            (commodity == 'ZLOTO' ? 'Złoto' :
                                                                (commodity == 'ALUMINIUM' ? 'Aluminium' :
                                                                    (commodity == 'KAKAO' ? 'Kakao' :
                                                                    (commodity == 'KUKURYDZA' ? 'Kukurydza' :
                                                                        commodity))))))))))))))}"></span>
            </a>

        </li>
    </ul>


</section>
<nav th:fragment="nav">
    <input type="checkbox" hidden id="switch-mode"/>
    <label for="switch-mode" class="switch-mode"></label>

    <ul id="profileOptions" class="profile-options">

        <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()">Zaloguj się</a></li>
        <li><a class="logout" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a></li>

    </ul>
    <ul id="adminOptions" class="profile-options" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <li>
            <a th:href="@{/admin}">Panel admina</a>
        </li>

    </ul>
</nav>
</body>
</html>