<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Commodity Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/stock.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>

<body>

<section th:replace="~{fragments :: sidebar}">
</section>
<section class="content">
    <nav th:replace="~{fragments :: nav}"></nav>
    <main>
        <div class="top-main">
            <h1>Panel</h1>
            <a href="#" class="download-btn">
                <span class="text">Pobierz raport</span>
            </a>
        </div>

        <div class="commodity-details">
            <a th:if="${#authorization.expression('isAuthenticated()')}"
               th:href="@{'/' + ${selectedCommodity.name} + '/testadf'}"
               class="btn">Test ADF</a>
            <a th:if="${!#authorization.expression('isAuthenticated()')}"
               class="disabled-btn">Test ADF</a>

            <!-- Holt-Winters -->
            <a th:if="${#authorization.expression('isAuthenticated()')}"
               th:href="@{'/' + ${selectedCommodity.name} + '/holtwinters'}"
               class="btn">Holt-Winters</a>
            <a th:if="${!#authorization.expression('isAuthenticated()')}"
               class="disabled-btn">Holt-Winters</a>

            <!-- SARIMAX -->
            <a th:if="${#authorization.expression('isAuthenticated()')}"
               th:href="@{'/' + ${selectedCommodity.name} + '/sarimax'}"
               class="btn">SARIMAX</a>
            <a th:if="${!#authorization.expression('isAuthenticated()')}"
               class="disabled-btn">SARIMAX</a>
            <h3 th:text="${selectedCommodity.name}">Nazwa Surowca</h3>

            <p th:text="${'Interwał: dzienny'}"></p>
            <p th:text="${#strings.toString(currency) + '/' + #strings.toString(unit)}" class="commodity-info"></p>


        </div>
        <div class="holt-description">
            <p>
                Model prognozowania: Holt-Winters Forecast. To zaawansowany model
                analizy szeregów czasowych, specjalnie stworzony do prognozowania przyszłych cen surowców na podstawie ich historycznych danych.
                Model ten integruje trzy kluczowe składowe, które umożliwiają dokładne prognozowanie:
            </p>
            <ul>
                <li><strong>Poziom (Level):</strong> Składowa poziomu odzwierciedla średnią wartość surowca.
                    Jest to punkt odniesienia, wokół którego oscylują wartości szeregów czasowych.</li>
                <li><strong>Trend:</strong> Składowa trendu prognozuje kierunek i nachylenie zmian cen surowca. Pozwala zidentyfikować ogólny ruch cenowy.</li>
                <li><strong>Sezonowość:</strong> Składowa sezonowości uwzględnia cykliczne wzorce,
                    które mogą występować w określonych okresach czasu. Może to obejmować sezonowość roczną, kwartalną lub inne okresy.</li>
            </ul>
            <p>
                Holt-Winters Forecast to narzędzie, które znajduje zastosowanie szczególnie w prognozowaniu cen surowców, gdzie istotne są zarówno trendy jak i sezonowość. Dzięki kompleksowej analizie składowych model ten oferuje bardziej precyzyjne prognozy, co wspomaga podejmowanie decyzji biznesowych.
            </p>
        </div>


        <div id="myChart"></div>
        <th:block th:if="${#lists.size(forecasts) > 0}">

            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Forecast Value</th>
                    <!-- Dodaj inne nagłówki, jeśli są dostępne -->
                </tr>
                </thead>
                <tbody>
                <!-- Iteruj przez przewidywania i wyświetl wiersze tabeli -->
                <tr th:each="forecast : ${forecasts}">
                    <td th:text="${forecast.forecastDate}"></td>
                    <td th:text="${forecast.forecastValue}"></td>
                    <!-- Dodaj inne komórki, jeśli są dostępne -->
                </tr>
                </tbody>
            </table>
        </th:block>


    </main>

</section>

<script th:inline="javascript">
    let forecastDates = [[${forecastDates}]];
    let forecastValues = [[${forecastValues}]];
    let rawDates = [[${dates}]];
    let values = [[${values}]];
    // Przygotuj dane do wykresu
    let seriesData = [];
    for (let i = 0; i < rawDates.length; i++) {
        seriesData.push([new Date(rawDates[i]).getTime(), values[i]]);
    }

    let forecastData = [];
    for (let i = 0; i < forecastDates.length; i++) {
        forecastData.push([new Date(forecastDates[i]).getTime(), forecastValues[i]]);
    }

    // Utwórz obiekt konfiguracyjny dla wykresu
    let chartOptions = {
        chart: {
            type: 'line',
            zoomType: 'x', // Zaznaczanie i zoomowanie po osi X
        },
        title: {
            text: '',
        },
        xAxis: {
            type: 'datetime',
            labels: {
                formatter: function () {
                    return Highcharts.dateFormat('%e %b %Y', this.value); // Format daty na polski
                }
            },
        },
        yAxis: {
            title: {
                text: 'Cena',
            },
            labels: {
                formatter: function () {
                    return this.value.toString().replace('.', ','); // Zamień kropkę na przecinek
                }
            },
        },
        tooltip: {
            valueDecimals: 2,
            decimalPoint: ","
        },
        series: [
            {
                name: 'Cena surowca',
                data: seriesData,
            },
            {
                name: 'Prognozowane ceny surowca',
                data: forecastData,
                color: 'orange', // Kolor dla wykresu prognozowanego
            }
        ],
        navigator: {
            enabled: true,
            series: {
                data: seriesData,
            },
        },
        rangeSelector: {
            selected: 4,
        },
        exporting: {
            buttons: {
                contextButton: {
                    menuItems: [
                        'downloadPNG',
                        'downloadJPEG',
                        'downloadPDF',
                        'downloadSVG',
                        'separator',
                        'downloadCSV',
                        'downloadXLS'
                    ]
                }
            }
        },
        legend: {
            enabled: true, // Włącz legendę
        },
        plotOptions: {
            series: {
                connectNulls: true, // Połącz null wartości w serii danych
            }
        },
    };
    Highcharts.setOptions({
        lang: {
            months: [
                'Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec',
                'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'
            ],
            shortMonths: [
                'Sty', 'Lut', 'Mar', 'Kwi', 'Maj', 'Cze',
                'Lip', 'Sie', 'Wrz', 'Paź', 'Lis', 'Gru'
            ],
            weekdays: [
                'Niedziela', 'Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek', 'Sobota'
            ],
            shortWeekdays: [
                'Nd', 'Pn', 'Wt', 'Śr', 'Czw', 'Pt', 'Sob'
            ],
            legend: {
                navigation: {
                    enabled: true,
                },
                title: {
                    text: 'Legenda'
                }
            }
        }
    });
    // Utwórz wykres na podstawie konfiguracji
    let chart = Highcharts.stockChart('myChart', chartOptions);
</script>
<script th:inline="javascript" src="/app.js"></script>
</body>

</html>
