<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Commodity Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>

<!-- Header -->
<header>
    <h1>Commodity Page</h1>
</header>

<!-- Wybór surowca -->
<div class="commodity-selection">
    <ul>
        <li th:each="type : ${commodityTypes}">
            <a th:href="@{'/' + ${type}}" th:class="${type == selectedCommodity} ? 'selected' : ''"
               th:text="${type}"></a>
        </li>
    </ul>
</div>




</body>

</html>
