<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8">
    <title>Commodity Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
  <section class="sidebar">
    <a href="/" class="logo">
      <span class="text">CommodityViewer</span>
    </a>

    <ul class="side-menu top">
      <li><a th:href="@{'/' + 'correlations'}"><span>Korelacje surowców</span></a></li>

      <div class="commodities-label">
        <span>Surowce</span>
      </div>
      <li th:each="commodity : ${commodityTypes}" th:class="${#strings.equals(selectedCommodity, commodity)} ? 'active' : ''">
        <a th:href="@{'/' + ${commodity}}" class="nav-link">
                <span th:text="${commodity == 'MIEDZ' ? 'Miedź' :
                    (commodity == 'ROPA' ? 'Ropa' :
                        (commodity == 'SREBRO' ? 'Srebro' :
                            (commodity == 'PLATYNA' ? 'Platyna' :
                                (commodity == 'NIKIEL' ? 'Nikiel' :
                                    (commodity == 'CUKIER' ? 'Cukier' :
                                        (commodity == 'SOJA' ? 'Soja' :
                                            (commodity == 'PALLAD' ? 'Pallad' :
                                                (commodity == 'RZEPAK' ? 'Rzepak' :
                                                    (commodity == 'KAWA' ? 'Kawa' :
                                                        (commodity == 'PSZENICA' ? 'Pszenica' :
                                                            (commodity == 'ZLOTO' ? 'Złoto' :
                                                                (commodity == 'ALUMINIUM' ? 'Aluminium' :
                                                                    (commodity == 'KUKURYDZA' ? 'Kukurydza' :
                                                                        commodity)))))))))))))}"></span>
        </a>


      </li>

    </ul>

  </section>

  <section class="content">
    <nav>
      <form action="#">
        <div class="form-input">
          <input type="search" placeholder="search..." />
          <button class="search-btn">
            <i class="fas fa-search search-icon"></i>
          </button>
        </div>
      </form>

      <input type="checkbox" hidden id="switch-mode" />
      <label for="switch-mode" class="switch-mode"></label>



      <ul id="profileOptions" class="profile-options">
        <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()">Zaloguj się</a></li>
        <li><a class="logout" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a></li>
      </ul>
    </nav>

    <main>

    </main>
  </section>

    <script src="app.js"></script>
  </body>
</html>
