<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Commodity Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="styles.css"/>
</head>

<body>
<section th:replace="~{fragments :: sidebar}">
</section>

<section class="content">
    <nav th:replace="~{fragments :: nav}"></nav>

    <main class="main-content" >
        <form action="" th:action="@{/login}" method="post" class="mc-form">
            <p th:if="${param.error}"
               th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
               class="mc-form-message"
            >
                Błąd logowania.
            </p>
            <p th:if="${param.logout}" class="mc-form-message">
                Zostałeś wylogowany, możesz zalogować się ponownie.
            </p>
            <label for="username">Adres email</label>
            <input id="username" name="username" placeholder="nazwa użytkownika">
            <label for="password">Hasło</label>
            <input id="password" name="password" placeholder="hasło" type="password">
            <button class="form-button" type="submit">Zaloguj się</button>
            <p class="registration-link">Nie masz jeszcze konta? <a href="#" th:href="@{/registration}">Zarejestruj się</a></p>
        </form>
    </main>
</section>

<script src="app.js"></script>
</body>
</html>


