<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Rejestracja</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="stylesheet" href="styles.css"/>
</head>

<body>
<section th:replace="~{fragments :: sidebar}">
</section>

<section class="content">
  <nav th:replace="~{fragments :: nav}"></nav>

  <main class="main-content">
    <p th:text="${emailExistsError}" class="mc-form-message" style="color: red;">
      ${emailExistsError}
    </p>

    <form action="#" th:action="@{/registration}" method="post" class="mc-form" th:object="${user}">
      <h1>Rejestracja</h1>
      <label for="email">Adres email</label>
      <input id="email" type="email" placeholder="nazwa użytkownika" th:field="*{email}">
      <label for="password">Hasło</label>
      <input id="password" placeholder="hasło" type="password" th:field="*{password}">
      <button class="form-button" type="submit">Zarejestruj się</button>
    </form>

  </main>
</section>

<script src="app.js"></script>
</body>
</html>


