<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Commodity Page</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>

  <link rel="stylesheet" href="styles.css"/>
</head>

<body>
<section th:replace="~{fragments :: sidebar}">
</section>

<section class="content">
  <nav th:replace="~{fragments :: nav}"></nav>

  <main class="main-content">
    <p th:text="${emailExistsError}" class="mc-form-message" style="color: red;">
      ${emailExistsError}
    </p>
    <form action="#" th:action="@{/registration}" method="post" class="mc-form" th:object="${user}">
      <label for="email">Adres email</label>
      <input id="email" type="email" placeholder="nazwa użytkownika" th:field="*{email}">
      <label for="password">Hasło</label>
      <input id="password" placeholder="hasło" type="password" th:field="*{password}">
      <button class="form-button" type="submit">Zarejestruj się</button>
    </form>

  </main>
</section>

<script src="app.js"></script>
</body>
</html>


