<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commodity Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>

<!-- Wybór surowca -->
<header>
    <h1>Commodity Page</h1>
</header>

<!-- Wybór surowca -->
<div class="commodity-selection">
    <ul>
        <li th:each="type : ${commodityTypes}">
            <a th:href="@{'/' + ${type}}" th:class="${type == selectedCommodity.commodityType} ? 'selected' : ''"
               th:text="${type}"></a>
        </li>
    </ul>
</div>
<div class="content">
    <div class="commodity-info">
        <div class="commodity-details">
            <h3 th:text="${selectedCommodity.name}">Nazwa surowca</h3>
            <p th:text="${'Typ surowca: ' + selectedCommodity.commodityType}"></p>
            <p th:text="${'Interwał: ' + selectedCommodity.interval_column}"></p>
            <p th:text="${'Jednostka: ' + selectedCommodity.unit}"></p>

            <h4>Dane z data_point:</h4>
            <!-- Dodaj linki do zakładek -->
            <ul>
                <li><a th:href="@{'/' + ${selectedCommodity.commodityType} + '/data'}">Czyste dane</a></li>
                <li><a th:href="@{'/' + ${selectedCommodity.commodityType} + '/testadf'}">Test ADF</a></li>
                <li><a th:href="@{'/' + ${selectedCommodity.commodityType} + '/forecasts'}">Forecasts</a></li>
            </ul>
        </div>


<table>
    <thead>
    <tr>
        <th>adfStatistic</th>
        <th>pValue</th>
        <th>criticalValue1Percent</th>
        <th>criticalValue5Percent</th>
        <th>criticalValue10Percent</th>
        <th>isStationary</th>
        <!-- Dodaj inne kolumny, takie jak critical values, is stationary itp. -->
    </tr>
    </thead>
    <tbody>
    <!-- Iteruj przez wyniki ADF i wyświetl je w tabeli -->
    <tr th:each="adfResult : ${adfResults}">
        <td th:text="${adfResult.adfStatistic}"></td>
        <td th:text="${adfResult.pValue}"></td>
        <td th:text="${adfResult.criticalValue1Percent}"></td>
        <td th:text="${adfResult.criticalValue5Percent}"></td>
        <td th:text="${adfResult.criticalValue10Percent}"></td>
        <td th:text="${adfResult.isStationary}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
