<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Commodity Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
</head>

<body>

<section class="sidebar">
    <a href="#" class="logo">
        <span class="text">CommodityViewer</span>
    </a>

    <ul class="side-menu top">
        <li th:each="commodity : ${commodityTypes}" th:class="${#strings.equals(selectedCommodity, commodity)} ? 'active' : ''">
            <a th:href="@{'/' + ${commodity}}" class="nav-link">
                <span th:text="${commodity}"></span>
            </a>
        </li>
    </ul>


    <ul class="side-menu">
        <li>
            <a href="#">
                <span class="text">Settings</span>
            </a>
        </li>
        <li>
            <a href="#" class="logout">
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<section class="content">
    <nav>

        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="search..." />
                <button class="search-btn">
                </button>
            </div>
        </form>

        <input type="checkbox" hidden id="switch-mode" />
        <label for="switch-mode" class="switch-mode"></label>



        <a href="#" class="profile">
            <img src="/profile.png" alt=""/>
        </a>
    </nav>
    <main>
        <div class="top-main">
            <h1>Dashboard</h1>
            <a href="#" class="download-btn">
                <span class="text">Pobierz raport</span>
            </a>
        </div>
        <div class="commodity-details">
            <a th:href="@{'/' + ${selectedCommodity.commodityType}}" class="btn">Data</a>
            <a th:href="@{'/' + ${selectedCommodity.commodityType} + '/forecasts'}" class="btn">Przewidywania</a>
            <h3 th:text="${selectedCommodity.name}">Nazwa surowca</h3>
            <p th:text="${'Typ surowca: ' + selectedCommodity.commodityType}"></p>
            <p th:text="${'Interwał: ' + selectedCommodity.interval_column}"></p>
            <p th:text="${'Jednostka: ' + selectedCommodity.unit}"></p>

        </div>
        <div>
            <h2>Test ADF (Augmented Dickey-Fuller)</h2>
            <p>
                Test ADF służy do sprawdzenia, czy szereg czasowy jest stacjonarny. Stacjonarność jest ważnym
                założeniem wielu modeli prognostycznych. Test ADF ocenia, czy istnieje tendencja (trend) w danych
                czasowych, co może wpływać na wyniki prognozowania.
            </p>

        </div>
        <table>
            <thead>
            <tr>
                <th>ADF Statistic</th>
                <th>P-Value</th>
                <th>Critical Value 1%</th>
                <th>Critical Value 5%</th>
                <th>Critical Value 10%</th>
                <th>Is Stationary</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="adfResult : ${adfResults}">
                <td th:text="${adfResult.adfStatistic}"></td>
                <td th:text="${adfResult.pValue}"></td>
                <td th:text="${adfResult.criticalValue1Percent}"></td>
                <td th:text="${adfResult.criticalValue5Percent}"></td>
                <td th:text="${adfResult.criticalValue10Percent}"></td>
                <td th:text="${adfResult.isStationary}"></td>

                <span class="isStationary" th:if="${adfResult.isStationary == 1}">
                    <strong>Stacjonarny:</strong> Szereg czasowy jest stacjonarny, co może oznaczać, że cena tego surowca jest bardziej stabilna w czasie.
                </span>
                    <span class="notStationary" th:if="${adfResult.isStationary == 0}">
                    <strong>Niestacjonarny:</strong> Szereg czasowy jest niestacjonarny, co może oznaczać większą zmienność w cenach tego surowca w czasie.
                </span>

            </tr>
            </tbody>
        </table>


    </main>

</section>
<script th:inline="javascript" src="/app.js"></script>
</body>

</html>
